<?xml version="1.0" encoding="utf-8"?>
<resources>
  <!-- Copy to res/values/credentials.xml, uncomment and change the values:
  <string name="client_id">00000000000000000000000000000000</string>
  <string name="password_secret">00000000000000000000000000000000</string>
  <string name="supportapp_id">00000000</string>
  <string name="supportapp_username">myfreeweb</string>
  <string name="supportapp_page">https://supportappnet.herokuapp.com/antigravity</string>
  -->
</resources>
